<html>
    <head>
        <title>ZEN &middot; FILM</title>
        <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.1/css/bootstrap.min.css">
        <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/bootstrap-material-design/0.2.1/css/material.min.css">
        <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/bootstrap-material-design/0.2.1/css/ripples.min.css">
        <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/select2/3.5.2/select2.min.css">
        <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/select2/3.5.2/select2-bootstrap.min.css">
        <link href="//cdnjs.cloudflare.com/ajax/libs/fotorama/4.6.3/fotorama.css" rel="stylesheet">
        <link rel="stylesheet" href="/vendor/mdi/materialdesignicons.css">
        <link rel="stylesheet" href="/static/style.css">
        <script src="//cdnjs.cloudflare.com/ajax/libs/require.js/2.1.15/require.min.js"></script>
        <script src="//yastatic.net/jquery/2.1.3/jquery.min.js"></script>
        <script src="/static/requireConfig.js"></script>
        <script src="/static/scripts/main.js"></script>
    </head>
    <body>
        <script type="text/html" id="photo-template">
            <label data-bind="attr: {for: SourceFile}">
                <input class="visuallyhidden" type=checkbox data-bind="
                    checkedValue: $data,
                    checked: $root.gridViewModel.selectPhotos,
                    attr: {id: SourceFile}"></input>
                <div class="photo">
                    <div class="photo__item"
                         data-bind="attr: {style: 'background-image:url('+SourceFile+')'}">
                    </div>
                </div>
            </label>
        </script>
        <div class="wrap">
            <ul class="photo-grid" data-bind="foreach: gridViewModel.photosWithGroups">
                    <li class="photo__wrap--similar">
                <!-- ko if: ($data instanceof Array) -->
                        <ul class="photo--similar" data-bind="foreach: $data">
                            <li class="photo__wrap" data-bind="template: { name: 'photo-template', data: $data }">
                            </li>
                        </ul>
                    </li>
                <!-- /ko -->
            </ul>
        </div>
        <!-- ko if: $root.gridViewModel.selectPhotos().length -->
            <a data-bind="click: $root.editorViewModel.delete" class="btn btn-danger btn-raised editor__btn_save">Delete</a>
        <!-- /ko -->
    </body>
</html>
