<html>
    <head>
        <title>ZEN &middot; FILM</title>
        <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.1/css/bootstrap.min.css">
        <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/bootstrap-material-design/0.2.1/css/material.min.css">
        <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/bootstrap-material-design/0.2.1/css/ripples.min.css">
        <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/select2/3.5.2/select2.min.css">
        <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/select2/3.5.2/select2-bootstrap.min.css">
        <link href="//cdnjs.cloudflare.com/ajax/libs/fotorama/4.6.3/fotorama.css" rel="stylesheet">
        <link rel="stylesheet" href="/vendor/mdi/materialdesignicons.css">
        <link rel="stylesheet" href="/static/style.css">
        <script src="//cdnjs.cloudflare.com/ajax/libs/require.js/2.1.15/require.min.js"></script>
        <script src="//yastatic.net/jquery/2.1.3/jquery.min.js"></script>
        <script src="/static/requireConfig.js"></script>
        <script src="/static/scripts/main.js"></script>
    </head>
    <body>
        <div class="wrap">
            <ul class="photo-grid" data-bind="foreach: gridViewModel.photos">
                <li class="photo__wrap">
                    <label data-bind="attr: {for: SourceFile}">
                        <input class="visuallyhidden" type=checkbox data-bind="
                            checkedValue: $data,
                            checked: $root.gridViewModel.selectPhotos,
                            attr: {id: SourceFile}"></input>
                        <div class="photo">
                            <div class="photo__item"
                                 data-bind="attr: {style: 'background-image:url(\'/photo/'+ SourceFile + '\')'}">
                            </div>
                        </div>
                    </label>
                </li>
            </ul>

            <!-- TODO: Сделай фотораму! Будь мужиком! -->
            <!-- <div class="fotorama fotorama__wrapper" data-allowfullscreen="true" data-bind="foreach: gridViewModel.selectPhotos">
                <img data-bind="attr: {src='/photo/'+ SourceFile}"/>
            </div> -->
            <div class="button__wrapper">
                <button id="fullscreen" class="button btn btn-fab btn-success btn-raised btn-sm">
                    <i class="mdi mdi-action mdi-arrow-down-bold-circle-outline"></i>
                </button>
            </div>

            <ul class="editor editor_unhide">
                <li class="editor__section">
                    <ul class="editor__inner"
                        data-bind="foreach: {data: Object.keys(editorViewModel.allProps), as: 'key'}, blah: console.log(key)">
                        <li class="input-group editor__field">
                            <span class="input-group-addon">
                                <i data-bind="attr: {class: 'mdi editor__icon ' + $root.editorViewModel.watchingProps[key].icon}"></i>
                            </span>
                            <span class="form-control-wrapper">
                                <!-- ko if: $root.editorViewModel.watchingProps[key].handler == 'simple' -->
                                    <input
                                        class="editor__input form-control"
                                        type="text"
                                        data-bind="
                                            value: $root.editorViewModel.allProps[key],
                                            attr: {placeholder: $root.editorViewModel.watchingProps[key].placeholder}
                                        ">
                                    <div class="floating-label">
                                        <p class="editor__title" data-bind="text: $root.editorViewModel.watchingProps[key].title"></p>
                                    </div>
                                    <span class="material-input"></span>
                                <!-- /ko -->
                                <!-- ko if: $root.editorViewModel.watchingProps[key].handler == 'select' -->
                                    <select class="editor__input form-control" data-bind="
                                        options: $root.editorViewModel.watchingProps[key].data(),
                                        optionsValue: 'id',
                                        optionsText: 'text',
                                        value: $root.editorViewModel.allProps[key] ">
                                    </select>
                                    <div class="floating-label">
                                        <p class="editor__title" data-bind="text: $root.editorViewModel.watchingProps[key].title"></p>
                                    </div>
                                    <span class="material-input"></span>
                                <!-- /ko -->
                                <!-- ko if: $root.editorViewModel.watchingProps[key].handler == 'maps' -->
                                    <div class="map"></div>
                                <!-- /ko -->
                            </span>
                        </li>
                    </ul>
                </li>
                <a data-bind="click: $root.editorViewModel.saveMeta" class="btn btn-info btn-raised editor__btn_save">Save</a>
            </ul>

            <!-- <div class="buttons-block">
                <button class="btn btn-fab btn-success btn-raised btn-sm"><i class="mdi mdi-action mdi-cloud-upload"></i></button>

            </div> -->
        </div>
    </body>
</html>
